<!doctype html>
<html lang="en">
  <head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <style>
  body{
background:url("/static/im4.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
.text{
margin:15px;
}
.buttondiv{
display:flex;
}
.buttondiv > a{
margin:5px;
}
.pcls{
display:flex;
}
.pcls > p{
margin:5px;
}
  </style> 
  
  <title>Doctor Page</title>
  </head>

  <body>
  <!-- background="/static/image4.jpg"-->


   <nav class="navbar navbar-expand-lg navbar-black bg-dark">
          <a class="navbar-brand" href="http://127.0.0.1:8000/">Home</a>
	</nav>
	<h1> Events: </h1>
	<div class="events">
	{% for i in eve %}
	 <hr style="height: 1px" noshade>
	<div class="card-body">
    <h5 class="card-title">{{ i.name }}</h5>
    <p class="card-text">{{ i.text }}</p>
	<div class="pcls">
	<p class="card-text">{{ i.city }}</p>
	<p class="card-text">{{ i.venue }}</p>
	</div>
	<div class="pcls">
	<p class="card-text">{{ i.date }}</p>
	<p class="card-text">{{ i.time }}</p>
	</div>
	<div class="pcls">
	<p class="card-text">{{ i.nname }}</p>
	<p class="card-text">  Contact: {{ i.ph }}</p>
	</div>
	<div class="buttondiv">
	<button class="btn btn-primary bd" id="{{ i.id }}"> Register</button> 
	</div>
  </div>
  {% endfor %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>
	$(document).ready(function(){
	$('.bd').click(function(){
	var id=this.id.toString();
	console.log(id);
	$.ajax({
	type:'GET',
	url:'/workapp/aux/',
	data:{'id':id},
	datatype:'json',
	success:function(data){if (data.s=="success"){alert("success");}else {alert("failed")}},
	})
	});
	});
	</script>
	</body>
</html>