<!doctype html>
<html lang="en">
  <head>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <style>
  body{
background:url("/static/im4.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
  </style> 
  
  <title>Doctor Page</title>
  </head>

  <body>
  <!-- background="/static/image4.jpg"-->


   <nav class="navbar navbar-expand-lg navbar-black bg-dark">
          <a class="navbar-brand" href="http://127.0.0.1:8000/">Home</a>
	</nav>
	
	</body>
</html>