<!doctype html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/static/style1.css">
   <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
  <title>Doctor Page</title>
  </head>

  <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	   <div class="container-fluid">
		  <a class="navbar-brand" href="/">Sanjeevini</a>
		  <div class="navbar-nav ml-auto">
		  <span><a class="nav-link" href="/workapp/doc_logout">Logout</a></span>
		</div>
	</div>
	</nav>
	<div class=" container-fluid">
	<h1 class="detail">Registered Events: </h1>
	<div class="row">
		{% for i in rev %}
			<hr style="height: 1px" noshade>
			<div class="col-lg-4 col-sm-6">
			<div class="card">
				{% if i.img %}
					<div >
						<img class="card-img-top" src={{ i.img.url }}/ alt="Card image cap">
					</div>
				{% endif %}
			<div class="card-body">
				<h5 class="card-title">{{ i.ename }}</h5>
				<p class="card-text">{{ i.etext }}</p>
				<div class="hspace">
					<span class="card-text">{{ i.ecity }}</span>
					<span class="card-text">{{ i.evenue }}</span>
				</div>
				<div class="hspace">
					<span class="card-text">{{ i.edate }}</span>
					<span class="card-text">{{ i.etime }}</span>
				</div>
				<div class="hspace">
					<span class="card-text">NGO : {{ i.oname }}</span>
					<span class="card-text">  Contact: {{ i.oph }}</span>
				</div>
				<div class="buttondiv">
					<button class="btn btn-primary dreg" id="{{ i.id }}"> Deregister</button> 
				</div>
			</div>
			</div>
			</div>
		{% endfor %}
	</div>

  <hr style="height: 1px" noshade>

	<h1 class="detail"> Events: </h1>
	<div class="row">
		{% for i in eve %}
		<hr style="height: 1px" noshade>
		<div class="col-lg-4 col-sm-6">
		<div class="card">
				{% if i.img %}
					<div >
						<img class="card-img-top" src={{ i.img.url }}/ alt="Card image cap">
					</div>
				{% endif %}
			<div class="card-body">
				<h5 class="card-title">{{ i.name }}</h5>
				<span class="card-text">{{ i.text }}</span>
			<div class="hspace">
				<span class="card-text">{{ i.city }}</span>
				<span class="card-text">{{ i.venue }}</span>
			</div>
			<div class="hspace">
				<span class="card-text">{{ i.date }}</span>
				<span class="card-text">{{ i.time }}</span>
			</div>
			<div class="hspace">
				<span class="card-text">NGO : {{ i.nname }}</span>
				<span class="card-text">  Contact: {{ i.ph }}</span>
			</div>
			<div class="buttondiv">
				<button class="btn btn-primary bd" id="{{ i.id }}"> Register</button> 
			</div>
			</div>
			</div>
			</div>
		{% endfor %}
  </div>
</div>
  
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<script>
	$(document).ready(function(){
	$('.bd').click(function(){
	var id=this.id.toString();
	console.log(id);
	$.ajax({
	type:'GET',
	url:'/workapp/aux/',
	data:{'id':id},
	datatype:'json',
	success:function(data){
		if (data.s=="success"){
			alert("Success");
			location.reload(true);
			}
		else {
			alert("Failed");
			location.reload(true);
			}
		},
	})
	});
    $('.dreg').click(function(){
	var did=this.id.toString();
	console.log(did);
	$.ajax({
	type:'GET',
	url:'/workapp/dreg/',
	data:{'id':did},
	datatype:'json',
	success:function(data){
		if (data.s=="success"){
			alert("Deregistered");
			location.reload(true);
			}
		else {
			alert("Failed");
			location.reload(true);
			}
		},
	})
	});
	});
	
	</script>
</body>
</html>