body{
	margin:0px;
	background-color:white;
}
.container{
	font-family:Lucida Console;
	padding: 15px;	
	font-size: 20px;
	font-weight:normal;
	color:white;
	background-color:black;
	display:flex;
	justify-content:space-between;
	width:100%;
	overflow:hidden;
}
.container a{
	text-decoration:none;
}

.san_div a{
	color:white;
	font-family:Book Antiqua;
	margin-left:60px;
	font-size:30px;
	text-transform:upper-italic;
}

.nav-wrapper{
	display:flex;
	margin-top:10px;
	
}

.doc_ngo_div{
	display:flex;
}

.doc_div{
	margin-right:30px;
}

.doc_div > a{
	text-decoration:none;
	text-shadow: 60;
	transition:color 0.5s;
	color:white;
}
.doc_div:hover{
	border-bottom:1px solid lightblue;
}

.doc_div a:hover{
	color:lightblue;
}
	
.home_div{
	margin-right:30px;
}
.home_div >a{
	text-decoration:none;
	transition:color 0.5s;
	color:white;
}
.home_div:hover{
	border-bottom:1px solid lightblue;
}
.home_div a:hover{
	color:lightblue;
}
	
.ngo_div >a{
	text-decoration:none;
	text-shadow: 10;
	transition:color 0.5s;
	color:white;
}
.ngo_div:hover{
	border-bottom:1px solid lightblue;
}
.ngo_div a:hover{
	color:lightblue;
}

img{
	width:350px;
	height:350px;
	margin-left:100px;
	border:15px;
	border-color:black;
}

img:hover {
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.5);
  opacity:0.5;
  opacity-color:black;
  
}

.content_div{
	margin-top:40px;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	position:relative;
	background-size:cover;
}
.imag1{
	margin-top:180px;
}

.imag2{
	margin-top:110px;
}

.subtitle{
	position:absolute;
	top:0;
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-transform:uppercase;
	height:100%;
	text-align:center;
	padding-left:100px;
	padding-right:100px;
	margin-left:145px;
	font-size:30px;
	font-weight:600;
	color:black;
}
	







