.navbar.navbar-expand-lg.navbar-black.bg-dark{
	margin-bottom:20px;
}

.text-primary
{
	margin-bottom:15px;
}

.edclass{
	margin-top:40px;
}

body{
background:url("/static/image4.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}

