body{
	margin:0px;
	background-color:black;
	font-family: 'Playfair Display', serif;

}
.bg-dark {
    background-color: black!important;
}
.navbar-dark .navbar-nav .nav-link{
    font-size:18px;
    color: #007bff;
    cursor: pointer;
}
h5,small{
	color: #007bff;
}

#logo{
	margin-left:10px;
}
div.col-6.col-md{
	padding-left:25px;
}