<!DOCTYPE html
<html>

<head>
  <title>Home</title>
      <link rel="stylesheet" href="/static/style1.css"> 
</head>

<body>
<div class="container">
	<div class="san_div">
		<a href="#">Sanjeevini</a>
	</div>
	<div class="nav-wrapper">
		<div class="home_div">
			<a href="#"> Home </a>
		</div>
		<div class="doc_ngo_div">
			<div class="doc_div">
				<a href="#"> Doctor </a>
			</div>
			<div class="ngo_div">
				<a href="#"> NGO </a>
			</div>	
		</div>
	</div>
</div>

<div class="content_div">
	<div class="imag_text_wrapper">
		<div class="imag1"><img src="/static/image1.jpg"></div>
		<div class="subtitle">sanjeevini
		</div>
	</div>

	<div class="imag_text_wrapper">	
	<div class="imag2">
		<img src="/static/image2.jpg">
	</div>
	<div class="subtitle">sanjeevini</div>
	</div>
	<div class="imag_text_wrapper">
	<div class="imag3">
		<img src="/static/image3.jpg">
	</div>
	<div class="subtitle">sanjeevini</div>
	</div>
</div>
</body>

</html>